<!doctype html>
<html>
    <head>

    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <h2>{{errormessage}}</h2>
        </div>
        {{>footer}}
    </body>
</html>