<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>This site was created by Yogesh Kanjal. It uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/img/me.jpeg" height="425" width="325" alt="Unable to load image">
        </div>

         {{>footer}}
    </body>
</html>